/*
Theme Name: Việt Nam Design Week
Theme URI: https://timevn.com
Author: TU
Author URI: https://timevn.com
Description: A starter theme
Version: 1.0
Text Domain: corex
Tags: theme, starter theme, time vn
*/
@import "assets/scss/style";
body {
  margin: 0;
  padding: 0;
}
