.footer_main {
    .tw_container {
        background: linear-gradient(6.4deg, #153a72 12.46%, #0079c0 203.16%);
        margin-top: 64px;
        @media (max-width: 768px) {
            padding: 0 5%;
        }
        @media (max-width: 480px) {
            margin-top: 80px;
            padding: 0 percentage($number: 31/375);
        }
        .content_all {
            padding-top: 34px;
            color: rgba(255, 255, 255, 0.9);
            @media (max-width: 768px) {
                padding-top: 40px;
                padding-bottom: 85px;
            }
            .footer_up {
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                padding-bottom: 34px;
                @media (max-width: 480px) {
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 25px;
                }
                .logo {
                    display: flex;
                    flex-direction: column;
                    width: percentage($number: 288/1200);
                    margin-right: percentage($number: 76/1200);
                    @media (max-width: 480px) {
                        width: percentage($number: 250/313);
                        margin-right: 0;
                        margin-bottom: 60px;
                    }
                    img {
                        max-width: 100%;
                        max-height: percentage($number: 93/262);
                        @media (max-width: 480px) {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .logo2 {
                        margin-top: 37px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        white-space: nowrap;
                        transform: translate(-16px, 0);
                        @media (max-width: 480px) {
                            margin-top: 30px;
                            transform: translate(-30px, 0);
                        }
                        img {
                            max-width: percentage($number: 152/288);
                            max-height: 132px;
                            @media (max-width: 480px) {
                                width: 125px;
                                height: auto;
                            }
                        }
                        .txt_logo {
                            display: flex;
                            flex-direction: column;
                            p:nth-child(1) {
                                font-family: "BrandonTextF-Regular";
                                font-size: 1.4rem;
                                line-height: 156%;
                                letter-spacing: 0.01em;
                                color: rgba(255, 255, 255, 0.8);
                            }
                            p:nth-child(2) {
                                font-family: "BrandonTextF-Bold";
                                font-size: 2.1rem;
                                line-height: 156%;
                                letter-spacing: 0.01em;
                                color: #ffffff;
                            }
                        }
                    }
                }
                .ft_center {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: percentage($number: 387/1200);
                    margin-right: percentage($number: 79/1200);
                    @media (max-width: 480px) {
                        width: 100%;
                        margin-right: 0;
                    }
                    .ft_centerup {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        @media (max-width: 480px) {
                            margin-bottom: 25px;
                        }
                    }
                }
                .ft_right {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @media (max-width: 480px) {
                        width: 100%;
                    }
                    .ft_rightup {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        @media (max-width: 480px) {
                            margin-bottom: 25px;
                        }
                        .ft_right1 {
                            p {
                                font-family: "BrandonTextF-Bold";
                                font-size: 1.8rem;
                                line-height: 156%;
                                letter-spacing: 0.01em;
                                color: #ffffff;
                                @media (max-width: 480px) {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
            .footer_down {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 56px;
                @media (max-width: 480px) {
                    flex-direction: column;
                    white-space: nowrap;
                    margin-top: 20px;
                }
                p {
                    font-size: 1.5rem;
                    line-height: 156%;
                    letter-spacing: 0.01em;
                    color: rgba(255, 255, 255, 0.8);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    @media (max-width: 480px) {
                        font-size: 1.2rem;
                    }
                }
                p:nth-child(2){
                    @media (max-width: 480px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}
