.header_main {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  .content_all {
    background: linear-gradient(0.65deg, #153a72 12.46%, #0079c0 203.16%);
    .menu_up {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: flex-end;
      @media (max-width: 768px) {
        display: none;
      }
      ul {
        height: 100%;
        li {
          position: relative;
          float: left;
          height: 100%;
          margin-left: 30px;
          display: flex;
          align-items: center;
          a {
            line-height: 2.3rem;
            color: #ffffff;

            i {
              margin-left: 8px;
              color: white;
              font-size: 1.4rem;
            }
            // &:hover {
            //   color: #bc8d09;
            // }
          }
          ul.drop_menu {
            z-index: 2;
            display: none;
            position: absolute;
            top: 40px;
            left: 0;
            background: #ffffff;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
            height: unset;
            li {
              height: 40px;
              width: 100%;
              // border-bottom: solid 1px yellow;
              margin-left: 0;
              padding-left: 30px;
              &:hover {
                background: linear-gradient(0.65deg, #153a72 12.46%, #0079c0 203.16%);
              }
              a {
                color: black;
                // &:hover {
                //   color: #bc8d09;
                // }
              }
            }
          }
        }
        li:nth-child(5) {
          letter-spacing: 0.05em;
          font-weight: bold;
          line-height: 2.3rem;
          color: #ffffff;
          i {
            margin-left: 8px;
            color: white;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  .content_main {
    background: white;
    padding: 0 percentage($number: 80/1360);
    @media (max-width: 1024px) {
      padding-left: 0;
    }
    @media (max-width: 768px) {
      padding: 0;
    }
    .menu_down {
      width: 100%;
      height: 89px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 768px) {
        height: 90px;
        justify-content: center;
      }
      @media (max-width: 480px) {
        height: 60px;
        justify-content: center;
      }
      .logo {
        height: 100%;
        img {
          max-height: 100%;
          width: auto;
        }
      }
      ul {
        height: 100%;
        @media (max-width: 768px) {
          display: none;
        }
        li {
          position: relative;
          float: left;
          height: 100%;
          margin-left: 25px;
          display: flex;
          align-items: center;
          a {
            color: #1b1b1b;
            font-family: "BrandonTextF-Medium";
            font-size: 1.6rem;
            line-height: 1.9rem;
            text-transform: uppercase;
            // &:hover {
            //   color: #bc8d09;
            // }
          }
          i {
            margin-left: 8px;
            font-size: 1.4rem;
          }
          ul.drop_menu {
            z-index: 2;
            display: none;
            position: absolute;
            top: 89px;
            left: 0;
            background: #ffffff;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
            height: unset;
            li {
              height: 60px;
              width: 100%;
              // border-bottom: solid 1px yellow;
              margin-left: 0;
              padding-left: 20px;
              &:hover {
                background: linear-gradient(0.65deg, #153a72 12.46%, #0079c0 203.16%);
              }
              a {
                color: black;
                // &:hover {
                //   color: #bc8d09;
                // }
              }
            }
          }
        }
        li:nth-child(5) {
          .search {
            cursor: pointer;
            img {
              max-width: 2.3rem;
              max-height: 2.8rem;
              cursor: pointer;
            }
          }
          ._form_search {
            position: absolute;
            top: 89px;
            right: -20px;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            transition: 0.4s;
            height: 0;
            padding: 0;
            box-shadow: 0;
            visibility: hidden;
            &.active {
              visibility: visible;
              height: 60px;
              padding: 15px 20px;
              box-shadow: 0px 15px 20px #7173753b;
            }
            .frm_search {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              width: 400px;
              height: 35px;
              background: #ffffff;
              border-bottom: solid 1px #7173752e;
              .txt_search {
                width: 100%;
                height: 35px;
                margin: 0;
                outline: unset;
                border: unset;
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
              }
              .btn_search {
                border: unset;
                background: transparent;
                cursor: pointer;
                opacity: 0.2;
                img {
                  max-width: 2.3rem;
                  max-height: 2.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
