.h-section2 {
    .tw_container {
        .content_all {
            padding: 0 percentage($number: 266/1360) 0 percentage($number: 254/1360);
            display: flex;
            flex-direction: column;
            margin-top: 80px;
            @media (max-width: 768px) {
                padding: 0 percentage($number: 68/1360);
            }
            @media (max-width: 480px) {
                margin-top: 60px;
                padding: 0;
            }
            .tw_title {
                justify-content: center;
                text-align: center;
                margin-bottom: 37px;
                hr {
                    margin: 0 auto;
                }
                h2 {
                    margin-top: 16px;
                }
            }
            a:nth-child(9) {
                @media (max-width: 480px) {
                    transform: translate(50%, 0);
                    padding-left: 15px;
                }
            }
            .tw_main {
                position: relative;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                grid-template-rows: repeat(3, 1fr);
                background: #0079c0;
                @media (max-width: 480px) {
                    padding: 0 percentage($number: 23/375);
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(5, 1fr);
                    grid-column-gap: 15px;
                    grid-row-gap: 20px;
                    background: #ffffff;
                }
                .info_main {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: #ffffff;
                    min-height: 250px;
                    padding: 0 2%;
                    transition: 0.45s ease;
                    width: 100%;
                    height: 100%;
                    @media (max-width: 480px) {
                        min-height: 210px;
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                        .info_main_mobile {
                            transform: translate(50%, 0);
                            padding-left: 15px;
                        }
                    }
                    &:hover {
                        background: none;
                        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
                        transform: scale(1.05);
                        @media (max-width: 480px) {
                            background: #0079c0;
                        }
                        img:nth-child(1) {
                            display: none;
                        }
                        img:nth-child(2) {
                            display: block;
                        }
                        p {
                            color: white;
                        }
                    }
                    img {
                        max-width: 80px;
                        max-height: 80px;
                        @media (max-width: 480px) {
                            max-width: 70px;
                            max-height: 70px;
                        }
                    }
                    img:nth-child(2) {
                        display: none;
                    }
                    p:nth-child(3) {
                        font-family: "BrandonTextF-Bold";
                        font-weight: bold;
                        font-size: 2rem;
                        line-height: 156%;
                        margin: 20px 0 12px;
                        text-align: center;
                        @media (max-width: 480px) {
                            font-size: 1.8rem;
                            margin: 24px 0;
                        }
                    }
                    p:nth-child(4) {
                        max-width: 247px;
                        text-align: center;
                        @media (max-width: 480px) {
                            display: none;
                        }
                    }
                    p:nth-child(5) {
                        display: none;
                        @media (max-width: 480px) {
                            display: block;
                            position: absolute;
                            bottom: 18px;
                            font-family: "BrandonTextF-Medium";
                            font-size: 1.5rem;
                            line-height: 1.8rem;
                            text-align: center;
                            color: #0079c0;
                        }
                        i {
                            font-size: 1.1rem;
                            margin-left: 5px;
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
    }
}
