.h-section4 {
    .tw_container {
        margin-top: 80px;
        position: relative;
        @media (max-width: 480px) {
            margin-top: 60px;
            padding: 0;
        }
        @media (max-width: 768px) {
            padding: 0 5%;
        }
        .swp_btn {
            width: 42px;
            height: 42px;
            font-size: 13px;
            top: 50%;
            z-index: 2;
            outline: none;
            @media (max-width: 480px) {
                display: none;
            }
            i {
                font-size: 14px;
            }
        }
        .swiper-button-next {
            border: 1px solid #0079c0;
            background-color: #0079c0;
            right: 0;
            margin-right: percentage($number: 18/1360);
            &::after {
                display: none;
            }
            i {
                color: #ffffff;
            }
        }
        .swiper-button-prev {
            border: 1px solid #0079c0;
            left: 0;
            margin-left: percentage($number: 18/1360);
            &::after {
                display: none;
            }
        }
        .content_all {
            text-align: center;
            @media (max-width: 480px) {
                padding: 0;
            }
            .tw_title {
                text-align: center;
                margin-bottom: 48px;
                letter-spacing: unset;
                @media (max-width: 480px) {
                    margin-bottom: 30px;
                }
                hr {
                    margin: 0 auto;
                    margin-bottom: 16px;
                }
            }
            .swiper-container {
                width: 100%;
                margin-bottom: 18px;
                @media (max-width: 2560px) {
                    height: 650px;
                }
                @media (max-width: 1440px) {
                    height: 420px;
                }
                @media (max-width: 480px) {
                    display: none;
                }
                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    a {
                        width: 100%;
                        height: 100%;
                        .imgs4 {
                            width: 100%;
                            height: percentage($number: 300/420);
                            background-position: center;
                            background-size: cover, contain;
                            background-repeat: no-repeat;
                            margin-bottom: 20px;
                            position: relative;
                            .--txt_img {
                                position: absolute;
                                height: 32px;
                                transform: rotate(-90deg);
                                width: 135px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                background-color: #ffffff;
                                padding: 0 percentage($number: 4/135);
                                @media (max-width: 2560px) {
                                    top: 71.5px;
                                    left: -71.5px;
                                }
                                @media (max-width: 1920px) {
                                    top: 63px;
                                    left: -67.5px;
                                }
                                @media (max-width: 1440px) {
                                    top: 61.5px;
                                    left: -62.5px;
                                }
                                @media (max-width: 1200px) {
                                    top: 58.5px;
                                }
                                hr {
                                    width: percentage($number: 40/110);
                                    height: 1px;
                                    background: #bc8d09;
                                }
                                p {
                                    font-family: "BrandonTextF-Bold";
                                    font-size: 1.1rem;
                                    line-height: 156%;
                                    letter-spacing: 0.06em;
                                    white-space: nowrap;
                                    color: #1b1b1b;
                                }
                            }
                        }
                        .--text {
                            padding: 0 percentage($number: 11/380) 0 percentage($number: 20/380);
                            p:nth-child(1) {
                                font-size: 1.5rem;
                                line-height: 156%;
                                opacity: 0.6;
                                text-align: left;
                                margin-bottom: 5px;
                            }
                            p:nth-child(2) {
                                font-family: "BrandonTextF-Bold";
                                font-size: 1.8rem;
                                line-height: 2.3rem;
                                letter-spacing: 0.01em;
                                text-align: left;
                            }
                        }
                    }
                }
            }
            ._list_share {
                display: none;
                @media (max-width: 480px) {
                    display: grid ;
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-columns: 1;
                    grid-row-gap: 15px;
                    background: #E5E5E5;
                    margin-bottom: 30px;
                }
                ._item {
                    display: flex;
                    flex-direction: row;
                    height: 128px;
                    width: 100%;
                    background: #ffffff;
                    ._img {
                        height: 100%;
                        width: percentage($number: 172/375);
                        background-position: center;
                        background-size: cover, contain;
                        background-repeat: no-repeat;
                        position: relative;
                        .__title {
                            position: absolute;
                            height: percentage($number: 28/128);
                            width: percentage($number: 109/172);
                            top: 0;
                            left: 0;
                            background: #ffffff;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            align-items: center;
                            hr {
                                background: #bc8d09;
                                width: 30px;
                                margin: 0 auto;
                            }
                            p {
                                font-family: "BrandonTextF-Bold";
                                font-size: 1rem;
                                line-height: 156%;
                                text-align: center;
                                letter-spacing: 0.06em;
                            }
                        }
                    }
                    ._text {
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        width: percentage($number: 203/375);
                        padding: 0 20px;
                        ._nomarl { 
                            font-size: 1.3rem;
                            line-height: 156%;
                            color: #1b1b1b;
                            opacity: 0.6;
                            margin: 15px 0 6px 0;
                        }
                        ._blod {
                            font-family: "BrandonTextF-Bold";
                            font-size: 1.4rem;
                            line-height: 2rem;
                            letter-spacing: 0.01em;
                            margin-bottom: 17px;
                        }
                        ._show_detail {
                            font-family: "BrandonTextF-Medium";
                            font-size: 1.3rem;
                            line-height: 1.6rem;
                            color: #0079c0;
                            i {
                                font-size: 1.1rem;
                                margin-left: 2px;
                                transform: rotate(0);
                            }
                        }
                    }
                }
            }
            .tw_see_all {
                margin: 0 auto;
            }
        }
    }
}
