.h-section3 {
    .tw_container {
        //??    background: linear-gradient(-135deg, transparent 95px, #F7FAFB 0,),linear-gradient(45deg, transparent 95px, #F7FAFB 0,);
        background: linear-gradient(-135deg, transparent 95px, #f7fafb 0);
        margin-top: 72px;
        padding-bottom: 106px;
        position: relative;
        @media (max-width: 768px) {
            padding: 0 percentage($number: 68/1360) 106px;
        }
        @media (max-width: 480px) {
            margin-top: 60px;
            padding-bottom: 60px;
            background-image: url(./assets/images/section3/__s3.png);
            padding-left: 0;
            padding-right: 0;
        }
        .swp_btn {
            width: 42px;
            height: 42px;
            font-size: 13px;
            top: 33%;
            outline: none;
            @media (max-width: 480px) {
                display: none;
            }
            i {
                font-size: 14px;
            }
        }
        .swiper-button-next {
            border: 1px solid #0079c0;
            right: 0;
            margin-right: percentage($number: 18/1360);
            background-color: #0079c0;
            &::after {
                display: none;
            }
            i {
                color: #ffffff;
            }
        }
        .swiper-button-prev {
            border: 1px solid #0079c0;
            left: 0;
            margin-left: percentage($number: 18/1360);
            &::after {
                display: none;
            }
        }
        .content_all {
            padding-top: 80px;
            @media (max-width: 480px) {
                padding-top: 50px;
                padding-left: 0;
                padding-right: 0;
            }
            .tw_title {
                text-align: center;
                margin-bottom: 48px;
                hr {
                    margin: 0 auto;
                    margin-bottom: 16px;
                }
            }
            .swiper-container {
                width: 100%;
                height: 500px;
                @media (max-width: 480px) {
                    height: 330px;
                }
                .swiper-slide {
                    background-position: center;
                    background-size: cover, contain;
                    position: relative;
                    overflow: hidden;
                    .cover_img {
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(-45deg, #f7fafb 55px, transparent 0);
                    }
                    &:hover {
                        .--txt {
                            position: absolute;
                            top: 10px;
                            left: 0;
                            padding: 220px 39px 29px 20px;
                            transition: 0.4s;
                            opacity: 0.9;
                            p {
                                font-family: "BrandonTextF-Bold";
                                font-size: 2.2rem;
                                line-height: 135%;
                                letter-spacing: 0.01em;
                                color: #ffffff;
                                transition: 0.4s;
                            }
                            .--hidden_1 {
                                display: block;
                                font-family: "Nunito-Bold";
                                font-weight: bold;
                                font-size: 1.7rem;
                                line-height: 135%;
                                color: rgba(255, 255, 255, 0.8);
                                margin-bottom: 50px;
                            }
                            .--hidden_2 {
                                display: block;
                            }
                        }
                    }
                    .--txt {
                        background: linear-gradient(-45deg, transparent 55px, #1986c6 0);
                        position: absolute;
                        right: 11px;
                        bottom: 9px;
                        left: 0;
                        min-height: 140px;
                        padding: 15px 0 15px 20px;
                        transition: 0.4s;
                        @media (max-width: 480px) {
                            right: 7px;
                            bottom: 17px;
                            left: -7px;
                            min-height: 123px;
                            padding: 10px 0 12px 14px;
                        }
                        img {
                            max-width: 35px;
                            max-height: 35pxx;
                            margin-bottom: 20px;
                            @media (max-width: 480px) {
                                max-width: 22px;
                                max-height: 22px;
                                margin-bottom: 0;
                            }
                        }
                        p {
                            font-family: "BrandonTextF-Bold";
                            font-size: 2.2rem;
                            line-height: 135%;
                            letter-spacing: 0.01em;
                            color: #ffffff;
                            transition: 0.4s;
                            @media (max-width: 480px) {
                                font-size: 1.6rem;
                            }
                        }
                        .--hidden_1 {
                            display: none;
                        }
                        .--hidden_2 {
                            display: none;
                            font-size: 1.5rem;
                            line-height: 1.8rem;
                            @media (max-width: 480px) {
                                display: block;
                                position: absolute;
                                bottom: 12px;
                                font-size: 1.4rem;
                                line-height: 1.7rem;
                            }
                            i {
                                transform: rotate(-90deg);
                                font-size: 12px;
                                margin-left: 11px;
                                @media (max-width: 480px) {
                                    font-size: 1rem;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .swiper-pagination {
                display: none;
                @media (max-width: 480px) {
                    display: block;
                    display: flex;
                    flex-direction: row;
                    width: max-content;
                    align-items: center;
                    left: 50%;
                    transform: translate(-50%, 0);
                    margin-top: 30px;
                }
                .swiper-pagination-bullet {
                    opacity: 1;
                    width: 4.5px;
                    height: 4.5px;
                    background: #0079c0;
                    margin: 0 4px;
                }
                .swiper-pagination-bullet-active {
                    width: 9px;
                    height: 9px;
                    background: none;
                    border: 1px solid #0079c0;
                    outline: none;
                }
            }
        }
        .under_ss3 {
            margin-top: 73px;
            padding-left: percentage($number: 80/1360);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (max-width: 768px) {
                margin-top: 80px;
                padding: 0;
                display: flex;
                flex-direction: column;
            }
            .--left {
                width: percentage($number: 356/1280);
                position: relative;
                z-index: 1;
                @media (max-width: 768px) {
                    width: 100%;
                    padding: 0;
                }
                @media (max-width: 480px) {
                    width: 100%;
                    padding: 0 percentage($number: 31/375);
                }
                .tw_title {
                    margin-bottom: 22px;
                    hr {
                        margin-bottom: 16px;
                        @media (max-width: 480px) {
                            margin: 0 auto;
                            margin-bottom: 16px;
                        }
                    }
                    h2,
                    h3 {
                        text-align: left;
                        @media (max-width: 480px) {
                            text-align: center;
                        }
                    }
                }
                .tw_main {
                    p {
                        line-height: 156%;
                        text-align: justify;
                        // font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
                        span {
                            font-weight: bold;
                        }
                    }
                }
                .buttonSS3 {
                    display: flex;
                    flex-direction: row;
                    margin-top: 52px;
                    width: 470px;
                    @media (max-width: 1200px) {
                        flex-direction: column;
                        margin-top: 52px;
                    }
                    @media (max-width: 768px) {
                        flex-direction: row;
                        margin-top: 52px;
                    }
                    @media (max-width: 480px) {
                        flex-direction: column;
                        width: 220px;
                        margin: 0 auto;
                        margin-top: 30px;
                    }
                    .btn {
                        width: 220px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #0079c0;
                        border: 1px solid #0079c0;
                        margin-right: 14px;

                        font-family: "BrandonTextF-Bold";
                        font-size: 1.5rem;
                        line-height: 156%;
                        letter-spacing: 0.01em;
                        color: #ffffff;
                        white-space: nowrap;
                        @media (max-width: 480px) {
                            margin-right: 0;
                        }
                    }
                    .btn2 {
                        background-color: #ffffff;
                        color: #0079c0;
                        @media (max-width: 1200px) {
                            margin-top: 20px;
                        }
                        @media (max-width: 768px) {
                            margin-top: 0;
                        }
                        @media (max-width: 480px) {
                            margin-top: 20px;
                        }
                    }
                }
            }
            .--right {
                width: percentage($number: 894/1280);
                height: 375px;
                background: url(./assets/images/section3/global.png);
                background-position: center;
                background-size: cover, contain;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                padding-right: percentage($number: 80/894);
                @media (max-width: 768px) {
                    width: 100%;
                    height: 467px;
                    background: url(./assets/images/section3/global.png);
                    background-size: contain;
                    margin-top: 50px;
                }
                @media (max-width: 480px) {
                    width: 100%;
                    height: 467px;
                    background: url(./assets/images/section3/global_mb.png);
                    background-size: cover;
                    margin-top: 50px;
                }
                img {
                    max-width: percentage($number: 694/894);
                    max-height: percentage($number: 133/478);
                    @media (max-width: 480px) {
                        display: none;
                    }
                }
            }
        }
    }
}
