.h-section1 {
    .tw_container {
        position: relative;
        height: 470px;
        @media (max-width: 1920px) {
            height: 700px;
        }
        @media (max-width: 1440px) {
            height: 470px;
        }
        @media (max-width: 480px) {
            height: 440px;
            padding: 0; 
        }
        .contact_banner {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: row;
            z-index: 1;
            @media (max-width: 480px) {
                display: none;
            }
            .support {
                width: 230px;
                height: 64px;
                background: #bc8d09;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0 17px 0 23px;
                margin-left: 12px;
                @media (max-width: 1200px) {
                    width: 180px ;
                    height: 55px;
                }
                .phone {
                    animation: anmationSocial 1s infinite ease-in-out;
                }
                .phone,
                .user {
                    max-width: 32px;
                    max-height: 32px;
                }
                .info {
                    line-height: 156%;
                    letter-spacing: 0.01em;
                    color: #ffffff;
                    .info1 {
                        font-weight: bold;
                        letter-spacing: 0.1em;
                    }
                }
            }
        }
        .swiper-container {
            width: 100%;
            height: 100%;
            .swiper-slide {
                background-image: url(./assets/images/section1/banner.png);
                background-position: center;
                background-size: cover, contain;
                background-repeat: no-repeat;
                @media (max-width: 480px) {  
                    background: linear-gradient(0.5deg, #0079C0 -31.71%, rgba(0, 121, 192, 0) 72.43%) , url(./assets/images/section1/banner1.png); 
                }
                .--text {
                    padding-left: percentage($number: 68/1360);
                    font-family: "BrandonTextF-Bold";
                    color: #ffffff;
                    margin-top: 150px;
                    margin-bottom: 13px;
                    opacity: 0.7;
                    @media (max-width: 480px) {
                        padding: 0;
                        text-align: center;
                        margin-top: 244px;
                        opacity: 1;
                    }
                    .line {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        @media (max-width: 480px) {
                            display: inline-flex;
                        }
                        hr {
                            background-color: white;
                            @media (max-width: 480px) {
                                width: 20px;
                            } 
                        }
                    }
                    p {
                        font-size: 1.5rem;
                        margin-left: 8px;
                        @media (max-width: 480px) {
                            font-size: 1.6rem;
                            line-height: 1.9rem;
                            text-align: center;
                            margin-left: 1px;
                        }
                    }
                    h1 {
                        font-size: 3.6rem;
                        margin: 13px 0 26px 12px;
                        @media (max-width: 480px) {
                            display: none;
                        }
                    }
                    h1:nth-child(2) {
                        margin-bottom: 26px;
                    }
                    ._txt {
                        display: none;
                        @media (max-width: 480px) {
                            display: block;
                        }
                        p{
                            font-size: 2.4rem;
                            line-height: 3.2rem;
                            text-align: center;
                            margin-bottom: 20px;
                        }
                    }
                    .tw_see_all {
                        margin-right: 12px;
                        background: unset;
                        border: 1px solid #ffffff;
                        color: #ffffff;
                        @media (max-width: 480px) {
                            margin: 0 auto;
                        }
                    }
                }
            }
            .swiper-pagination {
                right: 0;
                left: unset;
                width: max-content;
                margin-right: percentage($number: 18/1360);
                top: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (max-width: 480px) {
                    top: unset;
                    margin-right: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    flex-direction: row;
                }
                .swiper-pagination-bullet {
                    opacity: 1;
                    width: 5px;
                    height: 5px;
                    background: #ffffff;
                    margin-bottom: 10px;
                    @media (max-width: 480px) {
                        width: 4.5px;
                        height: 4.5px;
                    }
                }
                .swiper-pagination-bullet-active {
                    width: 12px;
                    height: 12px;
                    background: none;
                    border: 2px solid #ffffff;
                    outline: none;
                    @media (max-width: 480px) {
                        width: 9px;
                        height: 9px;
                        border: 1px solid #ffffff;
                    }
                }
            }
        }
    }
}
