.h-section5 {
    .tw_container {
        margin-top: 103px;
        @media (max-width: 480px) {
            margin-top: 60px;
        }
        .content_all {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 497px;
            @media (max-width: 768px) {
                height: unset ;
                flex-direction: column;
                justify-content: center;
                padding: 0 5%;
            }
            @media (max-width: 480px) {
                padding: 0 23px;
            }
            .--left {
                background-image: url(./assets/images/section5/imgs5.png);
                width: percentage($number: 550/1200);
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                @media (max-width: 768px) {
                    display: none;
                }
            }
            .--right {
                width: percentage($number: 532/1200);
                @media (max-width: 768px) {
                    width: 100%;
                }
                .tw_title {
                    margin-bottom: 27px;
                    @media (max-width: 768px) {
                        margin-bottom: 30px;
                    }
                    hr {
                        margin-bottom: 16px;
                        @media (max-width: 768px) {
                            margin: 0 auto;
                            margin-bottom: 10px;
                        }
                    }
                    h2,
                    h3 {
                        text-align: left;
                        @media (max-width: 768px) {
                            text-align: center;
                        }
                    }
                    h3 {
                        white-space: nowrap;
                    }
                }
                .img_SS5 {
                    display: none;
                    @media (max-width: 768px) {
                        display: block;
                        background-image: url(./assets/images/section5/imgs5.png);
                        width: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 319px;
                        margin-bottom: 30px;
                    }
                }
                .tw_main {
                    line-height: 2.5rem;
                    text-align: justify;
                    letter-spacing: 0.01em;
                    margin-bottom: 4px;
                    @media (max-width: 480px) {
                        margin-bottom: 30px;
                    }
                    p {
                        margin-bottom: 25px;
                        span {
                            font-weight: bold;
                        }
                    }
                }
                .tw_see_all {
                    @media (max-width: 768px) {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
