html {
    font-size: 10px;
    @media (max-width:1200px){
        font-size: 7px;
    }
}
body {
    font-family: "Nunito-Regular";
    font-size: 1.7rem;
    line-height: 2.2rem;
    color: #1b1b1b;
    overflow: hidden;
    @media (max-width: 480px) {
        font-size: 1.6rem;
        line-height: 2.5rem;
        text-align: justify;
    }
}
.tw_container {
    margin: 0 percentage($number: 40/1440);
    padding: 0;
    height: 100%;
    @media (max-width: 768px) {
        margin-left: 0;
        margin-right: 0;
    }
    .content_all {
        padding: 0 percentage($number: 80/1360);
        @media (max-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.tw_title {
    display: flex;
    flex-direction: column;
    hr {
        background: #bc8d09;
    }
    h2 {
        font-family: "BrandonTextF-Bold";
        font-size: 2.4rem;
        line-height: 3.3rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        text-align: center;
        color: #bc8d09;
        br{
            display: none ;
            @media (max-width: 480px) {
                display: block;
            }
        }
    }
    h3 {
        font-family: "BrandonTextF-Bold";
        font-size: 2.4rem;
        line-height: 3.3rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        text-align: center;
        color: #0079c0;
        @media (max-width: 480px) {
            font-size: 2.6rem;
            line-height: 3.6rem;
            margin: 0 -16px;
        }
        br {
            display: none;
            @media (max-width: 480px) {
                display: block;
            }
        }
        span{
            @media (max-width: 480px) {
                display: none;
            }
        }
    }
}
.tw_see_all {
    position: relative;
    z-index: 1;
    display: flex;
    width: 150px;
    height: 40px;
    line-height: 156%;
    font-size: 1.5rem;
    color: #0079c0;
    border: 1px solid #0079c0;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    font-family: "BrandonTextF-Bold";
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: all 0.4s;
    @media (max-width: 480px) {
        width: 135px;
        height: 40px;
        line-height: 156%;
        font-size: 1.5rem;
    }
    &:hover {
        color: #ffffff;
        letter-spacing: 0.2em;
        transition: all 0.4s;
        &::after {
            width: 100%;
            transition: all 0.4s;
        }
    }
    &::after {
        content: "";
        height: 100%;
        position: absolute;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #0079c0;
        z-index: -1;
        transition: all 0.4s;
    }
}
hr {
    width: 40px;
    height: 1px;
    margin: 0;
    @media (max-width: 480px) {
        width: 36px;
    }
}
.footer_main {
    .ft_1 {
        p {
            line-height: 155.14%;
            color: rgba(255, 255, 255, 0.9);
            @media (max-width: 480px) {
                line-height: 2.5rem; 
            }
        }
        p:nth-child(1) {
            font-family: "BrandonTextF-Bold";
            font-size: 1.8rem;
            line-height: 156%;
            letter-spacing: 0.01em;
            color: #ffffff;
            margin-bottom: 16px;
            @media (max-width: 480px) {
                font-size: 1.6rem;
                margin-bottom: 10px;
            }
        }
    }
    .ft_2 {
        @media (max-width: 480px) {
            margin-bottom: 25px;
        }
        p:nth-child(1) {
            font-family: "BrandonTextF-Bold";
            font-size: 1.8rem;
            line-height: 156%;
            letter-spacing: 0.01em;
            color: #ffffff;
            margin-bottom: 16px;
            @media (max-width: 480px) {
                font-size: 1.6rem;
                margin-bottom: 10px;
            }
        }
        p {
            color: rgba(255, 255, 255, 0.9);
            line-height: 155.14%;
            @media (max-width: 480px) {
                // line-height: ;
            }
        }
    }
}
@keyframes anmationSocial {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}
