.slide_main {
    display: none;
    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: fixed;
        z-index: 5;
        bottom: 0;
        height: 55px;
        width: 100%;
        background: #bc8d09;
    }
    ._item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 11px 0 7px 0;
        border-right: 1px solid #ffffff;
        ._img {
            width: 23px;
            height: 20px;
            display: inline-block;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        p {
            font-family: "BrandonTextF-Medium";
            font-size: 1.2rem;
            line-height: 1.4rem;
            text-align: center;
            letter-spacing: 0.01em;
            color: #ffffff;
        }
    }
}
.close_menu_mobile {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(77, 77, 77, 0.6);
    top: 0;
    z-index: 4;
}
.menu_mb {
    display: none;
    @media (max-width: 768px) {
        position: fixed;
        z-index: 25;
        bottom: 55px;
        height: calc(100vh - 55px);
        width: 40vw;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        overflow: scroll;
        transform: translate(-100%);
    }
    @media (max-width: 480px) {
        width: percentage($number: 333/375);
    }
    
    ul {
        width: percentage($number: 303/333);
        height: 100%;
        background: #ffffff;    
        padding-left: 40px;
        padding-top: 20px;
        li {
            margin-bottom: 40px;
            width: max-content;
            a {
                font-family: "BrandonTextF-Medium";
                font-size: 1.6rem;
                line-height: 1.9rem;
                color: #1b1b1b;
                text-transform: uppercase;
                width: max-content;

                display: flex;
                align-items: center;
                i {
                    margin-left: 6px;
                    font-size: 1.4rem;
                }
            }
            ul {
                display: none;
                &.active {
                    padding: 0;
                    display: block;
                    margin: 10px 0 -10px -40px;
                    background: #f2f2f2;
                    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.02);
                    @media (max-width: 768px) {
                        width: 36.5vw;
                    }
                    @media (max-width: 480px) {
                        width: 80.8vw;
                    }
                }
                li:nth-child(1),
                li {
                    margin-bottom: 0;
                    width: 100%;
                    height: 50px;
                    padding-left: 60px;
                    display: flex;
                    align-items: center;

                    font-family:" BrandonTextF-Medium";
                    font-weight: normal;
                    font-size: 1.5rem;
                    line-height: 1.8rem;
                    color: #000000;
                }
            }
        }
        li:nth-child(1) {
            margin-bottom: 50px;
            font-family: "Nunito";
            font-style: normal;
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 2.2rem;
            letter-spacing: 0.05em;
            color: #1b1b1b;
        }
    }
    .close_menu {
        width: percentage($number: 30/333);
        height: 30px;
        display: flex;
        align-items: flex-end;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
