// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: "BrandonTextF-Black";
    src: url("../baoviet/assets/fonts/BrandonTextF-Black.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BrandonTextF-Bold";
    src: url("../baoviet/assets/fonts/BrandonTextF-Bold.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BrandonTextF-Medium";
    src: url("../baoviet/assets/fonts/BrandonTextF-Medium.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BrandonTextF-Regular";
    src: url("../baoviet/assets/fonts/BrandonTextF-Regular.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-Black";
    src: url("../baoviet/assets/fonts/Nunito-Black.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-BlackItalic";
    src: url("../baoviet/assets/fonts/Nunito-BlackItalic.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-Bold";
    src: url("../baoviet/assets/fonts/Nunito-Bold.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-BoldItalic";
    src: url("../baoviet/assets/fonts/Nunito-BoldItalic.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-ExtraBold";
    src: url("../baoviet/assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-ExtraLight";
    src: url("../baoviet/assets/fonts/Nunito-ExtraLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-ExtraLightItalic";
    src: url("../baoviet/assets/fonts/Nunito-ExtraLightItalic.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-Italic";
    src: url("../baoviet/assets/fonts/Nunito-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Nunito-SemiBold";
    src: url("../baoviet/assets/fonts/Nunito-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Nunito-Regular";
    src: url("../baoviet/assets/fonts/Nunito-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

